*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
/* body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: black;
} */
footer{
    position: relative;
    width: 100%;
    background: blue;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer .socialicons,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}
footer .socialicons li,
footer .menu li{

    list-style: none;

}
footer .socialicons li a{
    font-size: 2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    
}
footer .socialicons li a:hover
{
    transform: translateY(-10px);

}
footer .menu li a{
    font-size: 1.2em;
    color: rgb(15, 15, 15);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;

    transition: 0.5s;
}
footer .menu li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}